root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
# Language-specific settings
[*.js]
# Add language-specific settings for JavaScript files, if needed

[*.ts]
# Add language-specific settings for TypeScript files, if needed
